/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 100vh;
    color: #FFD700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    overflow: hidden;
}

body{
    border: double 10px #53E1EA;
    background-image: linear-gradient(#181320,#4C1A1B,#181320);
}

/* HUD */
.container{
    display: grid;
    grid-template-areas: 'a b c';
    grid-template-columns: 100px 2fr 1fr;
    height:100vh;
}

aside{
    grid-area: a;
    border-right: solid 5px #53E1EA ;
    background-image: url(/imagens/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
}

/*JOGO  */
.game{
    grid-area: b;
    background:url(/imagens/bg.gif);
    background-position: bottom bottom;
    background-size: cover;
}

.container1{
    margin: 10px;
    margin-left: 15px;
    display: grid;
    grid-template-areas: ' a b c ';
}

.planetaPNG{
    grid-area: a;
    width: 100px;
    height: 100px;
    background-image:url(/imagens/planeta.png);
}

.barraVida{
    grid-area: a;
    margin-left: 100px;
    background-color: #40F397;
    border: solid #181320 ;
    border-radius: 25px;
    margin-top: 30px;
    height: 45px;
    width: 25vw;
}

.vidasNave{
    grid-area: c;
    margin-top: 25px;
}

.saude{
    grid-area: a;
    margin-left: 100px;
}

.vidasRestantes{
    grid-area: c;
    text-align: right;
    height: 25px;
}

.vida1 ,.vida2 ,.vida3{
    width: 34px;
    height: 61px;
    margin-top: 5px;
    background-image: url(/imagens/naveVida.png);
    float: right;
}

.vida1{display: show;}  .vida2{display: show;}  .vida3{display: show;}

.naveJogador{
    background-image: url(/imagens/naveJogador.gif);
    height: 44px;
    width: 34px;
    position: absolute;
}


/* NAVEGAÇÃO */
nav{
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    width: 1fr;
    grid-template-rows: 10vh 20vh 15vh;
    grid-template-areas: 'a a'
                         'b b'
                         'c c'
                         'd e'
                         'f f';
}

.navegacao{
    grid-area: c;
    border-left: solid 5px #53E1EA ;
}

nav h1{
    grid-area: a;
    text-align: center;
}

nav h3{
    grid-area: b;
    color: #53E1EA;
    
}

button{
    width: 14vw;
    height: 70px;
    border: solid #FFD700;
    border-radius: 50px;
    background-color: #181320;
}

button:hover{
    background-color:#53E1EA ;
    border-color: #181320;
    cursor: pointer;
    color: #181320;
}

.pontuacao{
    grid-area: c;
    background-color: red;
}

.btnPausa{
    grid-area: d;
}

.btnMenu{
    grid-area: e;
}


/* MENU DO JOGO */
/* GAMEOVER */