/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFD700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    overflow: hidden;
}

body{
    background:url(imagens/back.png);   
}
/* Jogo */

h3{
    grid-area: a;
    margin-left: 120px;
      color: gold;
 
}
#container{
    display: none;
}
.container{
    display: grid;
    grid-template-areas: 'a b c';
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background-image: url(imagens/bg.gif);
    background-size: cover;
    background-position:bottom left;
    background-repeat: no-repeat;
}
.tiro{
    background-image: url(imagens/tiro.png);
    width:39px ;
    height: 39px;
    position: absolute;
}

.perigo{
    display: none;
}
.painel{
    height: 125px;
    display: grid;
    grid-template-areas: 'a b c';
}
.planetaPng{
    grid-area: a;
    background-image: url(imagens/planeta.png);
    height: 100px;
    width: 100px;
}
.medidorPlaneta{
    margin-left: 110px;
    margin-top: 25px;
    grid-area:  a;
    border: solid 5px #181320;
    border-radius: 25px;
    width: 300px;
    height: 50px;
    background-color: #FF0004;
}
.barraPlaneta{
    background-color: #40F397;
    border-radius: 25px;
    width: 300px;
    height: 40px;
}
.pontuacao{
    grid-area: c;
    height: 125px;
    width: 500px;
}
.naveJogador{
    background-image: url(imagens/naveJogador.gif);
    width: 34px;
    height: 44px;   
    position: absolute;
}
.inimigo{
    background-image: url(imagens/inimigo.gif);
    height: 100px;
    width: 100px;
    position: absolute;
}
.explosaoInimigo{
    background-image: url(imagens/explosaoInimigo.gif);
    width: 100px;
    height: 100px;
    position: absolute;
}
button:hover{
    background-color: cyan;
    color: black;
    border-color: black;
    cursor: pointer;
}
.btnJogar{
    height: 50px;
    width: 100px;
    margin-top: 380px;
    margin-left: 250px;
    color: black;
    background-color: gold;
    border-radius: 25px;
    border-color: black;
}

.telaMsg{
	position: absolute;
	margin-left: -25%;
	left: 50%;
    top: 10px;
	width: 600px;
	height: 600px;
	display: none;
}
label{
    font-size: 20px;
    text-align: center;
}
input{
    color: gold;
    background-color: transparent;
    font-size: 20px;
    border: none;
    width: 150px;
}
